raw_data/fastq/
results/salmon_quant/
results/salmon_index/
references/genomes/
references/proteins/
references/transcripts/
references/gff/
logs/
tmp/
project_audit/
*.fastq
*.fastq.gz
*.sra
*.bam
*.sam
*.bt2
*.idx
*.tar.gz
results/tables/main_results/
references/reference_genomes.zip
results/enrichment/kofam/background_rbh_kofam.tsv
results/enrichment/kofam/conserved_up.tsv
results/enrichment/kofam/conserved_down.tsv
results/enrichment/kofam/opposite.tsv
.snakemake/
legacy/
Rplots.pdf
