raw_data/fastq/
results/salmon_quant/
results/salmon_index/
references/genomes/
references/proteins/
references/transcripts/
references/gff/
logs/
tmp/
project_audit/
*.fastq
*.fastq.gz
*.sra
*.bam
*.sam
*.bt2
*.idx
*.tar.gz
